.whiteChip {
    display: flex;
    align-items: center; /* vertically centers the items */
    gap: 8px; /* adds some space between the flag and the text */
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 16px;
    width: fit-content; 
    height: fit-content;
    padding: 3px 12px;
}
.greyChip {
    display: flex;
    align-items: center; /* vertically centers the items */
    gap: 8px; /* adds some space between the flag and the text */
    background-color: #242D351A;
    border-radius: 16px;
    width: fit-content; 
    height: fit-content;
    padding: 3px 12px;
}

.formControl {
    min-width: 120px;
}

.container {
    margin: 16px 0px;
    display: flex;
    gap: 8px;
}

.legendSymbolPoint {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;

}
.legendSymbolLine {
    flex-shrink: 0;
    width: 16px;
    height: 5px;
    margin-top: 6px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;

}
.legendSymbolPolygon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
}

.projectsWhiteChip{
    display: flex;
    align-items: center; /* vertically centers the items */
    gap: 8px; /* adds some space between the flag and the text */
    background-color: #fff;
    border: 1px solid #242D3512;
    border-radius: 16px;
    width: fit-content; 
    height: fit-content;
    padding: 3px 12px;
}

.tagText {
    text-transform: uppercase;
    font-weight: 400;
}

.projectTagText {
    font-weight: 400;
}

.projectTitle{
    padding: 8px 8px 18px 2px;
}

.supportingTags{
    gap: 4px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardContentContainer{
    position: relative;
    margin: 16px 32px 16px 32px;
    flex-wrap: wrap;
}