.controlsContainer {
  background: #fff;
  position: absolute;
  bottom: 127px;
  right: 10px;
  width: 29px;
  z-index: 9; /* higher than mapbox popup */
  border-radius: 4px;
  height: fit-content;
}

.controlButton {
  display: flex !important;
  border-radius: 0px !important;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  background-color: white;
  /* box-shadow: 24; */
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}
.modalContent {
  max-height: 70vh;
  overflow-y: auto;
}
.closeButton {
  margin-left: auto;
}

.measureTool {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 1;

    max-width: 400px;
    background-color: white;
    /* box-shadow: 24; */
    padding: 24px;
    border-radius: 16px;
    /* display: flex;
    flex-direction: column;
    gap: 16px */
}
