.legendContainer {
  background: #fff;
  position: absolute;
  top: 58px;
  left: 10px;
  width: 30%;
  max-width: 300px;
  z-index: 9; /* higher than mapbox popup */
  border-radius: 15px;
  height: fit-content;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

.legendHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.legendMain {
  padding: 8px;

}

.legendContent {
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.legendGroupContainer {
  background: #f3f2f2;
  border-radius: 15px;
  padding: 8px;
}
.legendGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f3f2f2;
  border-radius: 8px 8px 8px 8px;
}

.legendItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legendGroupHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 8px;
}

.flex {
  display: flex;
  align-items: center;
}

.gap {
  display: grid;
  gap: 8px;
}

.legendSymbolPoint {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}

.layerLabel {
  white-space: normal;
  line-height: 0.9;
  vertical-align: text-top;
}

.subLayerContainer {
  display: flex;
  align-items: flex-start;
  margin-left: 24px;
}

.coastalFloodColorRamp {
  width: 16px;
  height: 72px;
  margin-left: 24px;
}

.coastalFloodNumbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-left: 8px;
}

.coastalFloodContainer {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

@media (min-width: 600px) {
  .legendContainer {
    top: 58px;
  }
}