.popupBox {
    padding: 0;
    display: inline-block; 
}

.title {
    margin-bottom: 8px;
    font-weight: bold;
    white-space: nowrap;
}

.card {
    display: inline-block;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #e0e0e0; /* Firefox */
}

.tableContainer {
    display: inline-block;
    width: auto; 
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
}

.table {
    background-color: #f3f2f2;
    width: auto; /* Ensures the table width adjusts to its content */
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
.card::-webkit-scrollbar {
    width: 6px;
}

.card::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}

.card::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
